<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Comp 1
            </div>
            <div class="card-body">
                <p>signals works!</p>

                {{name()}}

                <button type="button" (click)="changeValue()">Change Value</button>

                <h6>{{ser.count()}}</h6>

            </div>

            <div>
                <button type="button" class="btn btn-success btn-small" (click)="increseNumber()">Increment</button>

                <button type="button" class="btn btn-danger btn-small" (click)="decreaseNumber()">Decrement</button>
            </div>

            <h6> Number is {{num()}}</h6>

            {{fullName()}}

            {{messages().message}}

            Age is {{age()}}


            <div>
                <button type="button" (click)="updateAge()">updateAge</button>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Comp 2
            </div>
            <div class="card-body">
                <app-singals-two></app-singals-two>
            </div>
        </div>
    </div>
</div>