<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- Absolute Path -->
        <a class="nav-link active" aria-current="page" routerLink="/one">One</a>
        <!-- Relative Path -->
        <!-- <a class="nav-link active" aria-current="page" routerLink="one">One</a> -->

        <a class="nav-link" [routerLink]="'subnav/second'">Two</a>
        <a class="nav-link" [routerLink]="'subnav/three'">Three</a>
        <a class="nav-link" [routerLink]="'/subnav/parameterized/10'">Parameterized</a>

        <a class="nav-link disabled" [routerLink]="['/dashboard']" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>